/* Base Styles */


* {
  box-sizing: border-box;
}
	
.gallery {
  display: block;
	text-align: center;
  width: 100%;
	min-height: 100vh;
  margin: 0 auto;
	background: linear-gradient(to right, rgba(2,91,116,1) 0%, rgba(2,66,92,0.8) 100%);
}

header {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
	background: linear-gradient(to right, rgba(2,66,92,1) 0%, rgba(2,66,91,1) 1%, rgba(1,18,37,1) 100%);
}

ul {
  list-style: none;
  margin: 0 auto;
  text-align: center;
  padding: 0;
}

ul li {
  display: inline-block;
	margin: 30px;
	border: 5px solid #E8EEF3;
	border-radius: 10px;
	transition: border-color .2s ease-out;
}

li:hover {
	cursor: pointer;
	border-color: #02425C;
}

img {
	max-width: 100%;
	padding: .5em;
	vertical-align: bottom;
}

/* Page Elements */

#filter {
	cursor: pointer;
	position: relative;
	border-radius: 50px;
	text-indent: 50px;
	color: #025B74;
	height: 2em;
  font-size: 16pt;
	margin: 0 auto;
}

#filter:focus {
	outline: none;
	box-shadow: inset 3px 3px 3px #025B74;
}

.search { 
	position: relative; 
}

.search-icon { 
	background: url('../Photos/search-icon.svg') no-repeat;
	background-position: top right;
  position: absolute;
  top: 0;
	width: 50px;
	height: 50px;
	font-size: 2em;
  line-height: 1.5em;
	z-index: 3;
}

#overlay {
  background-color: rgba(1,18,37,0.9);
	position: fixed;
  width: 100%;
	min-height: 100%;
	top: 0;
	left: 0;
	z-index: 10;
  display: none;
}

#figure {
	position: relative;
	width: 80%;
	max-height: 80vh;
	margin: 0 auto;
	line-height: 0;
	padding: 1em;
	text-align: center;
}

#figure img {
	max-width: 100%;
}

#figCaption {
	width: 100%;
	line-height: 1.5;
	color: #E8EEF3;
	margin-top: 1em;
	bottom: 0;
}


/*  Overlay buttons */

button {
	position: absolute;
	border: none;
	height: 1.5em;
	width: 1.5em;
}

#closeButton {
	background: url('../Photos/close.svg') top left no-repeat;
	top: 5px;
	right: 5px;
}

#prevButton, 
#nextButton {
	top: 40%;
}

#prevButton {
	background: url('../Photos/previous.svg') top left no-repeat;
	left: -20px;
}

#nextButton {
	background: url('../Photos/next.svg') top left no-repeat;
	right: -20px;
}

@media (min-width: 768px){
	button {
		height: 2.5em;
		width: 2.5em;
	}
}
